@mixin mapPrint {
  @page {
    size: A4 portrait;
  }
  h1 {
    display: none;
  }
  h2 {
    display: none;
  }
  .maplibregl-control-container {
    height: 0;
    width: 0;
    display: none !important;
    visibility: hidden !important;
  }
  .maplibregl-ctrl {
    height: 0;
    width: 0;
    display: none !important;
    visibility: hidden !important;
  }
}

.mapWeb {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  @media print {
    @include mapPrint;
  }
}

.mapPrint {
  width: 100vw;
  height: 100vh;

  @include mapPrint;
}

.attributionWrap {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  z-index: 1000;
  print-color-adjust: exact;
}

.mapWrap {
  width: 100vw;
  height: 30vh;
}

.markersWrap {
  width: 100vw;
  height: 70vh;
  padding: 0;
  margin: 0;
}
